<pagination total-items="towns.numItems" ng-model="townParams.startPage"
  items-per-page="townParams.pageSize" ng-change="reloadTowns()"
  max-size="10" boundary-links="true">
</pagination>

<table>
	<tr>
		<th>Id</th>
		<th>Town</th>
		<th>Action</th>
	</tr>

	<tr ng-repeat="town in towns">
		<td>{{ town.id }}</td>
		<td>{{ town.name }}</td>
		<td>
			<a href="#/admin/towns" class="link">Edit</a>
			<a href="#/adimn/towns" class="link">Delete</a>
		</td>

	</tr>
</table>

<div ng-if="towns.length==0" class="box no-data">
    No towns found.
</div>
<button class="button">
	<a href="#/admin/towns" class="link">Create New Town</a>
</button>