<pagination total-items="categories.numItems" ng-model="categoriesParams.startPage"
  items-per-page="categoriesParams.pageSize" ng-change="reloadCategories()"
  max-size="12" boundary-links="true">
</pagination>

<table>
	<tr>
		<th>Id</th>
		<th>Category</th>
		<th>Action</th>
	</tr>

	<tr ng-repeat="category in categories">
		<td>{{ category.id }}</td>
		<td>{{ category.name }}</td>
		<td>
			<a href="#/admin/categories" class="link">Edit</a>
			<a href="#/admin/categories" class="link">Delete</a>
		</td>

	</tr>
</table>

<div ng-if="categories.length==0" class="box no-data">
    No categories found.
</div>
<button class="button">
	<a href="#/admin/categories" class="link">Create New Category</a>
</button>