<div>
	<div class="panel panel-info">
		<div class="panel-heading ">
			<h3 class="panel-title">Navigation</h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li>
					<a href="/" class="list-group-item">Home</a>
				</li>
				<li>
					<a href="/user/ads" class="list-group-item">My Ads</a>
				</li>
				<li>
					<a href="/user/ads/newAd" class="list-group-item">Publish new ad</a>
				</li>
				<li>
					<a href="/user/editProfile" class="list-group-item">Edit profile</a>
				</li>
			</ul>			
		</div>
	</div>
</div>