<form class="form-horizontal col-md-offset-1 col-md-10" name="registerForm">
  <fieldset>
    <legend><h2>User Registration</h2></legend>
    <div class="form-group">
      <label for="username" class="col-md-2 control-label">Username</label>
      <div class="col-md-4">
        <input type="text" class="form-control" id="username" placeholder="Enter Username" ng-model="user.username">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-md-2 control-label">Password</label>
      <div class="col-md-4">
        <input type="password" class="form-control" id="password" placeholder="Enter Password" ng-model="user.password">        
      </div>
      <label for="confirmPassword" class="col-md-2 control-label">Confirm Password</label>
      <div class="col-md-4">
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" ng-model="user.confirmPassword" 
        data-match="user.password" name="confirmField"> 
        <div ng-show="registerForm.confirmField.$error.match">Fields do not match!</div>     
      </div>
    </div>
    <div class="form-group">
      <label for="name" class="col-md-2 control-label">Name</label>
      <div class="col-md-4">
        <input type="text" class="form-control" id="name" placeholder="Enter Your Name" ng-model="user.name">
      </div>
      <label for="email" class="col-md-2 control-label">Email</label>
      <div class="col-md-4">
        <input type="email" class="form-control" id="email" placeholder="Enter Your Email" ng-model="user.email">
      </div>
    </div>
    <div class="form-group">
      <label for="phone" class="col-md-2 control-label">Phone</label>
      <div class="col-md-4">
        <input type="text" class="form-control" id="phone" placeholder="Enter Phone Number">
      </div>
      <label for="select" class="col-md-2 control-label">Selects</label>
      <div class="col-md-4">
        <select class="form-control" id="select" ng-options="town.id as town.name for town in towns" ng-model="user.townId">          
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-5">
        <button type="submit" class="btn btn-danger" ng-click="register(user)">Register</button>
        <button class="btn btn-default">
          <a href="/login">Login here</a></button>
      </div>
    </div>
  </fieldset>  
</form>